
<main>
  <app-header></app-header>
  <div class="clear"></div>
  <!--top body-->
  <div class="container">
      <div class="topbanner-container">
          <div class="topbanner-text">
              <div class="">
                     <div class="form-style-5">
                              <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" method="POST">
                              <fieldset><div class="label-text">FROM :</div>
                              <select formControlName="fromCity" id="job" name="field4">
                                      <optgroup label="From City">
                                          <option *ngFor="let city of cities; let i = index" [value]="city.city">{{city.city}}</option>


                                      </optgroup>
                              </select>
<!--
                              <div class="ng-autocomplete" >
                                    <ng-autocomplete formControlName="fromCity"
                                      [data]="cities"
                                      [searchKeyword]="keyword"
                                      (selected)='selectEvent($event)'
                                      (inputChanged)='onChangeSearch($event)'
                                      (inputFocused)='onFocused($event)'
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.city"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                    </div>-->
                              <div *ngIf="submitted && user.fromCity.errors" class="invalid-feedback errors">
                                <div *ngIf="user.fromCity.errors.required" class="errors">From City is required</div>
                             </div>
                              <div class="label-text">TO :</div>
                              <select id="job" formControlName="toCity" name="field4">
                                      <optgroup label="To City">
                                         <option *ngFor="let city of cities; let i = index" [value]="city.city">{{city.city}}</option>

                                      </optgroup>
                              </select>
                              <div *ngIf="submitted && user.toCity.errors" class="invalid-feedback errors">
                                <div *ngIf="user.toCity.errors.required" class="errors">To City is required</div>
                             </div>
                              <div class="label-text">DEPARTURE :</div>

                              <input type="text" formControlName="departure" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                <div *ngIf="submitted && user.departure.errors" class="invalid-feedback errors">
                                  <div *ngIf="user.departure.errors.required" class="errors">To Departure is required</div>
                               </div>
                              <div class="label-text">RETURN :</div>
                              <input type="text"  [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                              <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>


                             </fieldset>

                              <input type="submit" value="Search" />

                              </form>
                              </div>
              </div>
          </div>

      </div>
  </div>
  <!--body part-->
  <div class="container">
      <div class="container-body">
          <div class="middle-container-body">

            <h4>Avilable Flight Information :</h4>
              <aside class="left-services" *ngFor="let flightInfo of flightsData | paginate: { id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRec }">
                  <div class="left-service-content"  *ngIf="flightInfo.status != 500;else other_content">{{flightInfo.status}}
                      <div class="top-text">
                              <div class="flight-search-result">
                                      <ul>
                                              <li><a href="" class="active menu-items">
                                                  <img src="{{flightInfo.logo}}" class="flight-logo"></a>
                                              </li>
                                              <li><a href="" class="menu-items "><div class="font-size"><b>{{flightInfo.airline_name}}</b></div></a>
                                                   <a href="" class="menu-items"><div class="font-size-small">{{flightInfo.flight_number}}</div></a>
                                              </li>

                                                 <li><a href="" class="menu-items"><div class="font-size"></div><b>{{flightInfo.fromCity}}

</b></a>
<a href="" class="menu-items"><div class="font-size-small"> From City</div></a>

                                                 </li>
                                                 <li><a href="" class="menu-items"><div class="font-size"><b>{{flightInfo.duration}} Hrs

                                                  </b></div></a>
                                                  <a href="" class="menu-items"><div class="font-size-small">Duration</div></a>

                                                                                                   </li>
                                                <li>  <a href="" class="menu-items"><b> {{flightInfo.toCity}}</b></a>
                                                      <a href="" class="menu-items"><div class="font-size-small">To City</div></a>
                                                 </li>
                                              <li><a href="" class="menu-items"><b>₹ {{flightInfo.price}}</b></a></li>
                                              <li><button  [routerLink]="['/conform-booking', flightInfo.id]" class="button book-now" >BOOK NOW</button></li>
                                      </ul>
                              </div>
                       </div>



                  </div>

                  <ng-template #other_content>Record not found!...</ng-template>
              </aside>
              <div class="pagination-div" >
                <pagination-controls   id="listing_pagination" maxSize="5" directionLinks="true"  (pageChange)="page = $event"></pagination-controls>

              </div>

          </div>
      </div>
  </div>
  <div class="clear"></div>
  <!--Footer-->
  <app-footer></app-footer>

</main>

