
        <main>
            <app-header></app-header>
            <!--top body-->
            <div class="container">
                <div class="topbanner-container" style="float: left; width:100%">
                    <!-- <img src="images/topbanner.jpg"> -->
                    <div class="topbanner-text" >
                            <div class="form-style-5" style="float: left;width:50%">

                                        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" method="POST">
                                             <div class="label-text">First Name :</div>
                                                    <input type="text" formControlName="firstName" name="firstName" id="date_ex" required  placeholder="Your First Name *">
                                                    <div *ngIf="submitted && user.firstName.errors" class="errors">
                                                            <div *ngIf="user.firstName.errors.required" class="errors">First Name is required</div></div>
                                                    <div class="label-text">Last Name :</div>
                                                    <input type="text"formControlName="LastName" name="LastName" id="date_ex"  placeholder="Your Last Name *">
                                                    <div *ngIf="submitted && user.LastName.errors" class="errors">
                                                            <div *ngIf="user.LastName.errors.required" class="errors">Last Name is required</div></div>
                                                    <div class="label-text">Email :</div>

                                                    <input type="text" formControlName="email" name="email" id="date_ex"   placeholder="Your Email *">
                                                    <div *ngIf="submitted && user.email.errors" class="errors">
                                                            <div *ngIf="user.email.errors.required" class="errors">Email is required</div></div>
                                                    <div class="label-text">Mobile :</div>
                                                    <input type="text" formControlName="mobile" name="mobile" id="date_ex"  placeholder="Your Mobile *">
                                                    <div *ngIf="submitted && user.mobile.errors" class="errors">
                                                <div *ngIf="user.mobile.errors.required" class="errors">Mobile is required</div></div>
                                                <input type="submit" value="Submit" />

                                        </form>
                             </div>

                            </div>


                             <aside class="left-services-info" style="float: right;width:50%">
                                    <div class="left-flight-service-content">
                                        <div class="top-text">
                                                <div class="flight-search-result">
                                                    <h4>Flight Information</h4>

                                                    <ul>
                                                            <li><a href=""><b>{{airline_name }}</b></a>
                                                                 <a href="" class="menu-items">{{flight_number}}</a>
                                                            </li>
                                                            <li><a href="" class="menu-items"><b>{{duration}} Hr</b></a>
                                                                    <a href="" class="menu-items">{{fromCity}}</a>
                                                               </li>

                                                               <li>
                                                                    <a href="" class="menu-items">Non-stop</a>
                                                                    <a href="" class="menu-items">{{toCity}}</a>
                                                               </li>
                                                            <li><a href="" class="menu-items"><b>₹ {{price}}</b></a></li>
                                                    </ul>
                                                </div>
                                         </div>



                                    </div>

                                </aside>


                </div>
            </div>

            <div class="clear"></div>
            <!--Footer-->
            <app-footer></app-footer>
        </main>
