
<div class="container">
    <div class="top-header-images">
        <ul>
            <li><a href=""><img src="assets/images/EmailInfo_Enable.jpg"></a></li>
            <li><a href=""><img src="assets/images/LiveChat_Enable.png"></a></li>
            <li><a href=""><img src="assets/images/CallUsFree_Enable.jpg"></a></li>
            <li><a href=""><img src="assets/images/WatchDemo_Enable.png"></a></li>
            <li><a href=""><img src="assets/images/GoToMarket_Disable.png"></a></li>
        </ul>
    </div>
  </div>
  <div class="clear"></div>
  <header>
    <div class="container">
        <!--Logo-->
        <div class="logo">
            <a href="/" class="nav-logo"><img src="assets/images/logo-flight.png"></a>
        </div>
        <!--menu-->
        <nav>
           <ul>
  
                    <li><a href="#" class="menu-items">Register</a></li>
                    <li><a href="#" class="menu-items">Login</a></li>
           </ul>
        </nav>
    </div>
  </header>
  