
<main>
        <app-header></app-header>
        <!--top body-->
        <div class="container conform-container">

            <aside class="left-success-info" >
                    <div class="left-flight-service-content">
                        <div class="top-text">
                                <div class="flight-search-result">
                                                <div class="success-info">Successfully confirm the Flight ticket...</div>
                                </div>
                         </div>



                    </div>

                </aside>
        </div>

        <div class="clear"></div>
        <!--Footer-->
        <app-footer></app-footer>
    </main>
